*{
    background-color: cadetblue;
}
.wrapper{
    border: black;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin-top: 20rem;
}
.btn1 {
    position: relative;
    display: inline;
    background-color: aqua;
    padding: 20px;
    border-radius: 20%;
    background: linear-gradient(90deg,orange,red);
}
.btn2{
    background-color: aquamarine;
    position: relative;
    display: inline;
    padding: 20px;
    border-radius: 20%;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}
p{
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.text{
     font-size: 5rem;

}